<div class="container mx-auto">
    <div class="md:py-12 py-8">
        <div class="flex justify-center relative pb-1">
            <span class="absolute block h-px bg-white bottom-1/2 left-0 right-0 bg-stack-clouds-line"></span>
            <div class="bg-white px-6 py-3 relative">
                <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
                    🧰 Technologies I Work With
                </p>
            </div>
        </div>
        <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
            I build modern, scalable web apps using the latest tools and frameworks. From clean front-end interfaces to
            powerful back-end services, here are some of the technologies I work with:
        </p>
        <div class="flex flex-row flex-wrap justify-center items-center gap-4 py-6">
            <img class="w-[100px]" *ngFor="let stack of stacks" [src]="stack?.imagePath[0]" [alt]="stack?.title" />
        </div>


        <div class="flex justify-center relative pb-1">
            <span class="absolute block h-px bg-white bottom-1/2 left-0 right-0 bg-stack-clouds-line"></span>
        </div>
    </div>
</div>